 <div class="hide " id="Agency">
            <div class="card">
              <div class="card-header">
                <h2>Parts page</h2>

              </div>
              <div class="card-body">
                <button class="btn btn-primary" id="add-Agen-btn">
                  Add new Agency
                </button>
              </div>
            </div>
            <div class="card">
              <div class="card-header card-header-primary">
                Agents table <br>
                There are 100 Agents
              </div>
              <div class="card-body">
                <div>
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#id</th>
                        <th scope="col">Part Name</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>

                        </td>
                        <td>
                          <button class="btn btn-danger">delete</button>
                          <button class="btn btn-info">Edit</button>
                          <button class="btn bootstrap-notify">Accept</button>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

          </div>