<div class="hide" id="modelform">

  <h3>
    Add new model
  </h3>

  <form method="POST" action="store">
    <!-- 2 column grid layout with text inputs for the first and last names -->
    <div class="row mb-4">
      <div class="col">
        <div class="form-outline">
          <input required type="text" id="form6Example1" class="form-control" name="make" value=""
            placeholder="Enter The model make" />
          <label class="form-label" for="form6Example1">Make</label><span style=""> *</span>
        </div>
      </div>
      <div class="col">
        <div class="form-outline">
          <input type="text" required id="form6Example2" class="form-control" name="model_name" value=""
            placeholder="Enter the name of model" />
          <label class="form-label" for="form6Example2">Model</label><span style=""> *</span>
        </div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col">
        <div class="form-outline">
          <input type="text" required id="form6Example1" class="form-control" name="type" value=""
            placeholder="Enter the type of the model auto/manual" />
          <label class="form-label" for="form6Example1">type</label><span style=""> *</span>
        </div>
      </div>
      <div class="col">
        <div class="form-outline">
          <input type="text" required id="form6Example2" class="form-control" name="fuel" value="" placeholder="Fuel" />
          <label class="form-label" for="form6Example2">fuel</label><span style=""> *</span>
        </div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col">
        <div class="form-outline">
          <input type="text" required id="form6Example1" class="form-control" name="transmission" value=""
            placeholder="transmission" />
          <label class="form-label" for="form6Example1">transmission</label><span style=""> *</span>
        </div>
      </div>

    </div>
    {{!--
    <!-- Text input -->
    <div class="form-outline mb-4">
      <input type="text" id="form6Example3" class="form-control" />
      <label class="form-label" for="form6Example3">Company name</label>
    </div>

    <!-- Text input -->
    <div class="form-outline mb-4">
      <input type="text" id="form6Example4" class="form-control" />
      <label class="form-label" for="form6Example4">Address</label>
    </div>

    <!-- Email input -->
    <div class="form-outline mb-4">
      <input type="email" id="form6Example5" class="form-control" />
      <label class="form-label" for="form6Example5">Email</label>
    </div>

    <!-- Number input -->
    <div class="form-outline mb-4">
      <input type="number" id="form6Example6" class="form-control" />
      <label class="form-label" for="form6Example6">Phone</label>
    </div>

    <!-- Message input -->
    <div class="form-outline mb-4">
      <textarea class="form-control" id="form6Example7" rows="4"></textarea>
      <label class="form-label" for="form6Example7">Additional information</label>
    </div>

    <!-- Checkbox -->
    <div class="form-check d-flex justify-content-center mb-4">
      <input class="form-check-input me-2" type="checkbox" value="" id="form6Example8" checked />
      <label class="form-check-label" for="form6Example8"> Create an account? </label>
    </div>
    --}}
    <!-- Submit button -->
    <button type="submit" class="btn btn-primary  mb-4">Add</button>
  </form>
</div>